@using HOSPEDAJE.Areas.ClienteArea.Payloads.EntidadesDTO
@model RegistrarClienteDTO
@{
    Layout = "~/Views/Shared/_HomeTemplate.cshtml";
    ViewData["Title"] = "Registrar Cliente";
}

<h1>
    @ViewData["Title"]
</h1>
<partial name="../Component/_Account" />

<form asp-action="RegistrarProceso" method="post">
    <div>
        <input type="text" asp-for="Nombre" placeholder="Nombre" /><br />
        <span asp-validation-for="Nombre"></span>
    </div>
    <div>
        <input type="text" asp-for="Apellido" placeholder="Apellido" /><br />
        <span asp-validation-for="Nombre"></span>
    </div>
    <div>
        <input type="email" asp-for="Correo" placeholder="Correo" /><br />
        <span asp-validation-for="Correo"></span>
    </div>
    <div>
        <input type="text" asp-for="Contraseña" placeholder="Contraseña" /><br />
        <span asp-validation-for="Contraseña"></span>
    </div>
    <div>
        <input type="text" asp-for="Estado" value="A" readonly /><br />
        <span asp-validation-for="Estado"></span>
    </div>
    <button type="submit">Registrar Cliente</button>
</form>
<!-- Mostrar errores de validación si existen -->
@if (ViewData.ModelState.ContainsKey("Error"))
{
    <div>
        @ViewData.ModelState["Error"].Errors.FirstOrDefault()?.ErrorMessage
    </div>
}
<a asp-area="ClienteArea" asp-controller="Cliente" asp-action="LoginView">Login Cliente</a>