<h2>Panel de recepcionista</h2>
<p>Hola @ViewBag.NombreUsuario @ViewBag.ApellidoUsuario</p>

<a asp-area="UsuarioArea" asp-controller="Usuario" asp-action="PerfilView">Perfil Usuario</a>
<a asp-area="UsuarioArea" asp-controller="Usuario" asp-action="LogoutView">Cerrar sesion</a>