<nav>
    <ul>
        <li><a asp-area="ClienteArea" asp-controller="Cliente" asp-action="LoginView">Login Cliente</a></li>
        <li><a asp-area="ClienteArea" asp-controller="Cliente" asp-action="RegistrarView">Registrar Cliente</a></li>
    </ul>
</nav>